
<h3>Nouveau compte Utilisateur </h3>

<fieldset>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" [(ngModel)]="formUser.id" readonly/>
        </div>
        <div class="form-group">
            <label for="version">Version:</label> <input type="number" class="form-control" id="version" name="version" [(ngModel)]="formUser.version" readonly />
        </div>
        
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formUser.nom" />
        </div>
        <div class="form-group">
            <label for="prenom">Prénom:</label> <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="formUser.prenom" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label> <input type="email" placeholder = "email@gmail.fr" class="form-control" id="email" name="email" [(ngModel)]="formUser.email" />
        </div>
        <div class="form-group">
            <label for="login">Login:</label> <input type="text" class="form-control" id="login" name="login" [(ngModel)]="formUser.login" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="text" class="form-control" id="password" name="password" [(ngModel)]="formUser.password" />
        </div>
        <div class="form-group">
            <label for="pseudo">Pseudo:</label> <input type="text" class="form-control" id="pseudo" name="pseudo" [(ngModel)]="formUser.pseudo" />
        </div>
<div class="form-group">
    <label for="abonnement"> Abonnement :</label>
        <select class="form-control" id="abonnement" name="abonnement" [(ngModel)]="formUser.abonnement" >
            <option value="">Veuillez sélectionner un abonnement</option>
            <option  value="GRATUIT"> GRATUIT</option>
            <option  value="ETUDIANT"> ETUDIANT</option>
            <option  value="PREMIUM"> PREMIUM</option>
        </select>
    </div>

    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</fieldset>

