<h2>Nouveau compte Artiste </h2>
    <fieldset>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" [(ngModel)]="formArtiste.id" readonly/>
        </div>
        <div class="form-group">
            <label for="version">Version:</label> <input type="number" class="form-control" id="version" name="version" [(ngModel)]="formArtiste.version" readonly />
        </div>
        
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formArtiste.nom" />
        </div>
        <div class="form-group">
            <label for="prenom">Prénom:</label> <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="formArtiste.prenom" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label> <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formArtiste.email" />
        </div>
        <div class="form-group">
            <label for="login">Login:</label> <input type="text" class="form-control" id="login" name="login" [(ngModel)]="formArtiste.login" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="text" class="form-control" id="password" name="password" [(ngModel)]="formArtiste.password" />
        </div>
        <div class="form-group">
            <label for="pseudo">Pseudo:</label> <input type="text" class="form-control" placeholder="pseudo d'Artiste avec lequel les utilisateurs vont vous trouvez ! " name="pseudo" [(ngModel)]="formArtiste.pseudo" />
        </div>

        <div class="form-group">
            <label for="biographie">Biographie:</label> <input type="text" class="form-control" id="biographie" name="biographie" [(ngModel)]="formArtiste.biographie" />
        </div>

    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="add()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</fieldset>
