<div class="container" *ngIf="(typeCompte()) == 'admin' ">
    <div class="card">
        <h3 class="card-header">Liste des artistes</h3>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Version</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>E-mail</th>
                        <th>Login</th>
                        <th>Mot de passe</th>
                        <th>Pseudo</th>
                        <th>Biographie</th>
                        <th>Nb d'auditeurs</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of findAll()">
                        <td> {{a.id}} </td>
                        <td> {{a.version}} </td>
                        <td> {{a.nom}} </td>
                        <td> {{a.prenom}} </td>
                        <td> {{a.email}} </td>
                        <td> {{a.login}} </td>
                        <td> {{a.password}} </td>
                        <td> {{a.pseudo}} </td>
                        <td> {{a.biographie}}</td>
                        <td> {{a.nbAuditeur}}</td>
                        <td class="text-center">
                            <a class="btn btn-primary" (click)="edit(a.id)"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="remove(a.id)"><i class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="card-body" *ngIf="formArtiste">
                <div class="form-group">
                    <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id"
                        [(ngModel)]="formArtiste.id" readonly />
                </div>
                <div class="form-group">
                    <label for="version">Version:</label> <input type="number" class="form-control" id="version"
                        name="version" [(ngModel)]="formArtiste.version" readonly />
                </div>

                <div class="form-group">
                    <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom"
                        [(ngModel)]="formArtiste.nom" />
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom:</label> <input type="text" class="form-control" id="prenom"
                        name="prenom" [(ngModel)]="formArtiste.prenom" />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label> <input type="email" required class="form-control"  id="email" name="email"
                        [(ngModel)]="formArtiste.email" />
                </div>
                <div class="form-group">
                    <label for="login">Login:</label> <input type="text" class="form-control" id="login" name="login"
                        [(ngModel)]="formArtiste.login" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label> <input type="text" class="form-control" id="password"
                        name="password" [(ngModel)]="formArtiste.password" />
                </div>
                <div class="form-group">
                    <label for="pseudo">Pseudo:</label> <input type="text" class="form-control" id="pseudo"
                        name="pseudo" [(ngModel)]="formArtiste.pseudo" />
                </div>

                <div class="form-group">
                    <label for="biographie">Biographie:</label> <input type="text" class="form-control" id="biographie"
                        name="biographie" [(ngModel)]="formArtiste.biographie" />
                </div>


            </div>
            <div class="card-footer">

                <a class="btn btn-success" (click)="add()"><i class="bi bi-plus-square"></i></a>
                <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>

            </div>



        </div>
    </div>

</div>