<body>
<header>

</header>
   

    <div class="CarouselHome">

        <app-carousel></app-carousel>
</div>

    <div class="CardHome">

             <app-cards></app-cards>
    </div>



<footer>

</footer>

</body>

<!-- 
    
  

<body>

   
    <div class="cards-container">

        <div class="aligner" id="cardSize">
            <img src="/assets/music-sheet-g5ec7465cb_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CLASSIQUE</h5>
                <p class="card-text">titre</p>
                <a href="#" class="bi bi-play-btn-fill">Play</a>
            </div>

            <img src="/assets/music-sheet-g5ec7465cb_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">RAP</h5>
                <p class="card-text">titre</p>
                <a href="#" class="bi bi-play-btn-fill"></a>
            </div>

            <img src="/assets/music-sheet-g5ec7465cb_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">POP</h5>
                <p class="card-text">titre</p>
                <a href="#" class="bi bi-play-btn-fill"></a>
            </div>
            <img src="/assets/music-sheet-g5ec7465cb_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">METAL</h5>
                <p class="card-text">titre</p>
                <a href="#" class="bi bi-play-btn-fill"></a>
            </div>
          

        
           
         
        </div>


       
        
           
         
        </div>

    

  
   


    <footer>


    </footer>

</body>

<link href="home.component.scss"> -->