<nav class="navbar padding-nav sticky-top bg-dark">
  <div class="nav nav-pills text-center col">
    <span class="navbar-brand ms-3 me-3 text-light">Deezeefy</span>
    <a [routerLink]="['/home']" class="nav-link" [routerLinkActive]="'active'"><i class="bi bi-house"></i> Home</a>
    <div class="row ms-1">
      <a [routerLink]="['/stagiaire']" class="nav-link text-light col-auto" [routerLinkActive]="'active'"><i class="bi bi-book"></i> Stagiaires</a>
      <a [routerLink]="['/formateur']" class="nav-link col-auto" [routerLinkActive]="'active'"><i class="bi bi-brush"></i> Formateurs</a>
      <a [routerLink]="['/client']" class="nav-link col-auto" [routerLinkActive]="'active'"><i class="bi bi-briefcase-fill"></i> Clients</a>
      <a [routerLink]="['/filiere']" class="nav-link col-auto" [routerLinkActive]="'active'"><i class="bi bi-person-video3"></i> Filieres</a>
      <a [routerLink]="['/matiere']" class="nav-link col-auto" [routerLinkActive]="'active'"><i class="bi bi-vector-pen"></i> Matières</a>
      <a [routerLink]="['/ordinateur']" class="nav-link col-auto" [routerLinkActive]="'active'"><i class="bi bi-laptop"></i> Ordinateurs</a>
      <a [routerLink]="['/salle']" class="nav-link col-auto" [routerLinkActive]="'active'"><i class="bi bi-box"></i> Salles</a>
    </div>

    <a [routerLink]="['/connection']" class="nav-link ms-auto me-1" [routerLinkActive]="'active'"><i class="bi bi-person"></i> Se Connecter</a>
    <!-- <div class="row ms-auto me-1" *ngIf="currentUser" >
      <div class="col-auto">
        <select class="form-control" name="rolesOpt" id="rolesOpt" (change)="changeView()" [(ngModel)]="roleSelected">
          <option value="" selected>Choisir une vue</option>
          <option *ngFor="let role of currentUser.roles" [value]="role"> {{role}} </option>
        </select>
      </div>
      <a class="btn btn-danger col-auto ms-1" (click)="disconnect()"><i class="bi bi-person"></i> Déconnexion</a>
    </div> -->
  </div>
</nav>
