<div class="card-body" *ngIf="!editMode">

  <div class="row mb-1">
    <label for="pseudo" class="col-form-label col-2">Pseudo :</label>
    <div class="col">
      <input type="text" name="pseudo" id="pseudo" class="form-control col" readonly [(ngModel)]="artiste.pseudo">
    </div>
  </div>

  <div class="row mb-1">
    <label for="login" class="col-form-label col-2">Login :</label>
    <div class="col">
      <input type="text" name="login" id="login" class="form-control" readonly [(ngModel)]="artiste.login">
    </div>
  </div>

  <div class="row mb-1">
    <label for="nom" class="col-form-label col-2">Nom :</label>
    <div class="col">
      <input type="text" name="nom" id="nom" class="form-control" readonly [(ngModel)]="artiste.nom">
    </div>
  </div>

  <div class="row mb-1">
    <label for="prenom" class="col-form-label col-2">Prenom :</label>
    <div class="col">
      <input type="text" name="prenom" id="prenom" class="form-control" readonly [(ngModel)]="artiste.prenom">
    </div>
  </div>

  <div class="row mb-1">
    <label for="email" class="col-form-label col-2">Email :</label>
    <div class="col">
      <input type="text" name="email" id="email" class="form-control" readonly [(ngModel)]="artiste.email">
    </div>
  </div>

  <div class="row mb-1">
    <label for="bio" class="col-form-label col-2">Biographie :</label>
    <div class="col">
      <input type="text" name="bio" id="bio" class="form-control" readonly [(ngModel)]="artiste.biographie">
    </div>
  </div>

  <div class="row mb-1">
    <label for="nbAuditeurs" class="col-form-label col-2">Nombre d'auditeurs :</label>
    <div class="col">
      <input type="number" name="nbAuditeurs" id="nbAuditeurs" class="form-control" readonly [(ngModel)]="artiste.nbAuditeur">
    </div>
  </div>

</div>

<div class="card-body" *ngIf="editMode">

  <div class="row">
    <hr>
    <label for="idInp" class="col-form-label col-auto">Identifiant :</label>
    <div class="col">
      <input type="number" name="idInp" id="idInp" class="form-control col" readonly [(ngModel)]="artiste.id">
    </div>
    <label for="versionInp" class="col-form-label col-auto">Version :</label>
    <div class="col">
      <input type="number" name="versionInp" id="versionInp" class="form-control" readonly [(ngModel)]="artiste.version">
    </div>
  </div>

  <div class="mb-3">
    <label for="pseudoInp" class="form-label">Pseudo</label>
    <input type="text" name="pseudoInp" id="pseudoInp" class="form-control" [(ngModel)]="artiste.pseudo">
  </div>

  <div class="mb-3">
    <label for="loginInp" class="form-label">Login</label>
    <input type="text" name="loginInp" id="loginInp" class="form-control" [(ngModel)]="artiste.login">
  </div>

  <div class="mb-3">
    <label for="nomInp" class="form-label">Nom</label>
    <input type="text" name="nomInp" id="nomInp" class="form-control" [(ngModel)]="artiste.nom">
  </div>

  <div class="mb-3">
    <label for="prenomInp" class="form-label">Prenom</label>
    <input type="text" name="prenomInp" id="prenomInp" class="form-control" [(ngModel)]="artiste.prenom">
  </div>

  <div class="mb-3">
    <label for="emailInp" class="form-label">Email</label>
    <input type="text" name="emailInp" id="emailInp" class="form-control" [(ngModel)]="artiste.email">
  </div>

  <div class="mb-3">
    <label for="passwordInp" class="form-label">Mot de passe</label>
    <input type="password" name="passwordInp" id="passwordInp" class="form-control" [(ngModel)]="artiste.password">
  </div>

  <div class="mb-3">
    <label for="bioInp" class="form-label">Biographie</label>
    <input type="text" name="bioInp" id="bioInp" class="form-control" [(ngModel)]="artiste.biographie">
  </div>

  <div class="mb-3">
    <label for="nbAuditeurs" class="form-label">Nombre d'auditeurs</label>
    <input type="number" name="nbAuditeurs" id="nbAuditeurs" class="form-control" [(ngModel)]="artiste.nbAuditeur">
  </div>
</div>

<div class="card-footer" *ngIf="editMode">
  <a class="btn btn-success" (click)="editUser()"><i class="bi bi-plus-square"></i></a>
  <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace"></i></a>
</div>

<div class="card-footer" *ngIf="!editMode">
  <div class="row">
    <div class="col ms-1">
      <a class="btn btn-primary" (click)="edit()">Editer le compte</a>
    </div>
    <div class="col ms-auto">
      <a class="btn btn-danger" (click)="deleteUser()">Supprimer le compte</a>
    </div>
  </div>
</div>
