<div class="container">
  <div class="row">
    <span class="col-1">Pseudo :</span>
    <span class="col-auto">{{artiste?.pseudo}}</span>
  </div>

  <div class="row">
    <span class="col-1">Email :</span>
    <span class="col-auto">{{artiste?.email}}</span>
  </div>

  <div class="row">
    <span class="col-1">Login :</span>
    <span class="col-auto">{{artiste?.login}}</span>
  </div>

  <div class="row">
    <span class="col-1">password :</span>
    <span class="col-auto">**************************</span>
  </div>

  <div class="row">
    <span class="col-1">Nom :</span>
    <span class="col-auto">{{artiste?.nom}}</span>
  </div>

  <div class="row">
    <span class="col-1">Prenom :</span>
    <span class="col-auto">{{artiste?.prenom}}</span>
  </div>

  <div class="row">
    <span class="col-1">Biographie :</span>
    <span class="col-auto">{{artiste?.biographie}}</span>
  </div>

  <div class="row">
    <span class="col-1">Nombre d'auditeurs :</span>
    <span class="col-auto">{{artiste?.nbAuditeur}}</span>
  </div>
</div>
