<div class="container mt-3">
  <h1>Bienvenue {{user?.pseudo}}</h1>

  <div class="card mt-3">
    <h3 class="card-header">Informations du compte</h3>
    <app-infos-admin *ngIf="user?.type == adminType"></app-infos-admin>
    <app-infos-artiste *ngIf="user?.type == artisteType"></app-infos-artiste>
    <app-infos-utilisateur *ngIf="user?.type == userType"></app-infos-utilisateur>
  </div>

  <div class="card mt-3" *ngIf="user?.type == artisteType || user?.type == adminType">
    <h3 class="card-header">Upload de musique</h3>
    <app-enregistrement-musique></app-enregistrement-musique>
  </div>

  <div class="container mt-5">
    <app-historique-compte [id]="user?.id"></app-historique-compte>
  </div>
</div>




