
<h1>Création d'un nouveau compte </h1>
<div class="container">

   Quel type de compte souhaitez-vous créer :  <select [(ngModel)]="type">
    <option value="">Veuillez choisir votre status :</option>
<option value="artiste"> Artiste</option>
<option value="user"> Utilisateur</option>

    </select>

    <div  *ngIf="type == 'artiste'" >

        <!-- <app-artist></app-artist> mettre formu à la place-->


    </div>
    <div *ngIf="type == 'user' ">
        <!-- <app-utilisateur></app-utilisateur> mettre le formulaire à la place directement -->

    </div>

  



</div>
