<div class="container">
  <div class="row">
    <span class="col-1">Pseudo :</span>
    <span class="col-auto">{{user?.pseudo}}</span>
  </div>

  <div class="row">
    <span class="col-1">Email :</span>
    <span class="col-auto">{{user?.email}}</span>
  </div>

  <div class="row">
    <span class="col-1">Login :</span>
    <span class="col-auto">{{user?.login}}</span>
  </div>

  <div class="row">
    <span class="col-1">password :</span>
    <span class="col-auto">**************************</span>
  </div>

  <div class="row">
    <span class="col-1">Nom :</span>
    <span class="col-auto">{{user?.nom}}</span>
  </div>

  <div class="row">
    <span class="col-1">Prenom :</span>
    <span class="col-auto">{{user?.prenom}}</span>
  </div>

  <div class="row">
    <span class="col-1">Type d'abonnement :</span>
    <span class="col-auto">{{user?.abonnement}}</span>
  </div>

  <div class="row">
    <span class="col-1">Temps d'écoute :</span>
    <span class="col-auto">{{user?.tempsEcoute}}</span>
  </div>
</div>
