<h1>Connection</h1>
<div class="container" >
  <div class="card">
    <fieldset>
      <form action="">
        <div class="mb-3">
          <label for="civInp" class="form-label">Login</label>
        </div>
        <input type="text" name="label" id="clabel" class="form-control" [(ngModel)]="formAdmin.login"/>

        <div class="mb-3">
          <label for="nomInp" class="form-label">Password</label>
          <input type="text" name="nomInp" id="nomInp" class="form-control" [(ngModel)]="formAdmin.password"/>
        </div>

      </form>

      <button class="btn btn-success" type="submit">se connecter</button>



    </fieldset>
    
  </div>
</div>
